<%- include('partials/header') -%>

<main class="container">
  <h2>Add a sunscreen</h2>

  <% if (locals.messages.errors) { %>
    <% messages.errors.forEach( error => { %>
      <div><%= error.msg %></div>
    <% }) %>
  <% } %>

  <form action="/addSunscreen" enctype="multipart/form-data" method="POST">
    <div class="mb-3">
      <label for="brand" class="form-label">Brand:</label>
      <input type="text" class="form-control" id="brand" name="brand" required>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="spf" class="form-label">SPF:</label>
      <input type="text" class="form-control" id="spf" name="spf" required>
    </div>
    <fieldset>
      <legend>Form:</legend>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="form_lotion" name="form" value="lotion">
        <label for="lotion" class="form-check-label">Lotion</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="form_gel" name="form" value="gel">
        <label for="gel" class="form-check-label">Gel</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="form_stick" name="form" value="stick">
        <label for="stick" class="form-check-label">Stick</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="form_spray" name="form" value="spray">
        <label for="spray" class="form-check-label">Spray</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Type:</legend>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="type_chemical" name="type" value="chemical">
        <label for="chemical" class="form-check-label">Chemical</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="type_physical" name="type" value="physical">
        <label for="physical" class="form-check-label">Physical</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="type_hybrid" name="type" value="hybrid">
        <label for="hybrid" class="form-check-label">Hybrid</label>
      </div>
    </fieldset>
    <div class="form-check form-switch my-3">
      <label for="waterResistant" class="form-check-label">Water Resistant</label>
      <input class="form-check-input" type="checkbox" role="switch" id="waterResistant" name="waterResistant" value="true">
    </div>
    <div class="form-check form-switch mb-3">
      <label for="broadSpectrum" class="form-check-label">Broad Spectrum</label>
      <input class="form-check-input" type="checkbox" role="switch" id="broadSpectrum" name="broadSpectrum" value="true">
    </div>
    <div class="mb-3">
      <label for="pricePerOz">Price Per Ounce:</label>
      <input type="text" id="pricePerOz" name="pricePerOz" >
    </div>
    <div class="mb-3">
      <label for="ingredients">Ingredients:</label>
      <input type="text" id="ingredients" name="ingredients" >
    </div>
    <div class="mb-3">
      <label for="imgUpload">Image</label>
      <input type="file" id="imgUpload" name="file">
    </div>
    <button type="submit" value="Upload" class="btn btn-primary mt-2">Submit</button>
  </form>

</main>

<%- include('partials/footer') -%>
