<%- include('partials/header') -%>
<main class="container">
  <h2>Log In</h2>

  <% if (locals.messages.errors) { %>
    <% messages.errors.forEach( error => { %>
      <div><%= error.msg %></div>
    <% }) %>
  <% } %>

  <form action="/login" method="POST">
    <div>
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>  
    <button type="submit" class="btn btn-primary my-3">Log in</button>
  </form>
  <div><a href="/signup">Sign up for an account</a></div>
</main>

<%- include('partials/footer') -%>
