<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunscreen Savvy</title>
</head>
<body>
  <h1>Sunscreen Savvy</h1>
  <p>Hello and welcome!</p>
</body>
</html>