<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunscreen Savvy</title>
</head>
<body>
  <h1><a href='/'>Sunscreen Savvy</a></h1>
  <h2>Add some options</h2>

  <% if (locals.messages.errors) { %>
    <% messages.errors.forEach( error => { %>
      <div><%= error.msg %></div>
    <% }) %>
  <% } %>

  <form action="/skintype" method="POST">
    <div>
      <label for="skintype">Skin Type</label>
      <input type="text" id="skintype" name="skintype" required>
    </div>
    <button type="submit">Sign up</button>
  </form>

</body>
</html>